{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Contact{% endblock %}

{% block body %}
    <table>
        <thead>
        <tr>
            <th>{{ 'contact.firstname.head' | trans }}</th>
            <th>{{ 'contact.lastname.head' | trans }}</th>
            <th>{{ 'contact.birthday.head' | trans }}</th>
            <th>{{ 'contact.email.head' | trans }}</th>
            <th>{{ 'contact.action' | trans }}</th>
        </tr>
        </thead>
        <tbody>
            {% for contact in contacts %}
                <tr>
                    <td>{{ contact.firstname }}</td>
                    <td>{{ contact.lastname | capitalize }}</td>
                    <td>{{ contact.birthday | date('d - m - y') }}</td>
                    <td>{{ contact.email }}</td>
                    <td><a href="{{ path('edit_contact', {'id':contact.id}) }}">Editer</a></td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5"> {{ 'contact.aucun' | trans }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <p>
        <a href="{{ path('add_contact') }}">{{ 'contact.nouveau' | trans }}</a>
    </p>
{% endblock %}
