{% extends 'base.html.twig' %}

{% block title %}Edit Article{% endblock %}

{% block body %}
    <h1>{{ 'article.MAJ' | trans }}</h1>

    {{ include('article/_form.html.twig', ({'button_label': 'Update'}) )}}

    <a href="{{ path('article_index') }}">{{ 'article.back' | trans }}</a>

    {{ include('article/_delete_form.html.twig') }}
{% endblock %}
